

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #32cd32;
    text-align: center;
    font-family: Arial, sans-serif;
}

.container {
    height: 70vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.game {
    height: 60vmin;
    width: 60vmin;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 1.5vmin;
}

.box {
    height: 18vmin;
    width: 18vmin;
    border-radius: 1rem;
    border: none;
    font-size: 79px;
    box-shadow: 0 0 1rem rgba(0, 0, 0, 1);
    color:#D3D3D3;
    background-color:#FFA500;
    transition: background-color 0.3s, color 0.3s;
}

.box:hover {
    background-color: rgba(216, 216, 31, 0.8);
    color: aquamarine;
}

#reset-btn, #new-btn {
    padding: 1rem;
    font-size: 1.25rem;
    background-color: rgb(86, 26, 26);
    color: #fff;
    border-radius: 5rem;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s;
}

#reset-btn:hover, #new-btn:hover {
    background-color: rgb(56, 0, 0);
}

#msg {
    color: #fff;
    font-size: 12vmin;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 1rem;
}

.msg-container {
    height: 30vmin;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 2rem;
    /* background-color: rgba(0, 0, 0, 0.8);*/
   background-color: #ADD8E6;
     
    border-radius: 1rem;
    padding: 2rem;
}

.hide {
    display: none;
}
